.container {
  display:flex;
  flex-direction: column;
  height: 600;
  width: 400;
  background-color: black;
}

.display {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  width: 98%;
  color: white;
  font-size: 8vh;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  background-color: grey;
  color: white;
  font-size: 5vh;
  width: 25%;
  height: 60px;
  border: black 2px solid;
}

.operator {
  background-color:blue;
}